<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.allen.androidcustomview">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppThemeNoTitle">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".BubbleViewActivity" />
        <activity android:name=".WaveByBezierActivity" />
        <activity android:name=".WaveBySinCosActivity" />
        <activity android:name=".RadarActivity" />
        <activity android:name=".tagview.TagActivity"></activity>
    </application>

</manifest>