<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.allen.androidcustomview">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppThemeNoTitle">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.BubbleViewActivity" />
        <activity android:name=".activity.WaveByBezierActivity" />
        <activity android:name=".activity.WaveBySinCosActivity" />
        <activity android:name=".activity.RadarActivity" />
        <activity android:name=".tagview.TagActivity" />
        <activity android:name=".activity.AnimationBtnActivity" />
        <activity android:name=".activity.ProgressBarActivity" />
        <activity
            android:name=".activity.PayPsdViewActivity"
            android:windowSoftInputMode="adjustPan|stateVisible" />
        <activity android:name=".activity.AnimationViewActivity" />
        <activity android:name=".activity.DragBallActivity" />
        <activity android:name=".activity.FingerprintActivity" />
        <activity android:name=".activity.BannerActivity" />
        <activity android:name=".activity.HoverItemActivity"/>
        <activity android:name=".activity.RevealAnimationActivity" />
        <activity android:name=".activity.AliPayHomeActivity" />
        <activity android:name=".activity.RecyclerViewItemAnimActivity" />
        <activity android:name=".activity.PathActivity" />
        <activity android:name=".activity.SinaVoteActivity" />
    </application>

</manifest>